{% extends "portfolio/layout.html" %}

{% block title %}
    CryptoChief Home
{% endblock %}

{% block body %}
    <h1>Manage Your Crypto Assets</h1>

    {% if user %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <div id="logout-button-container-small" class="button-container-small">
                <button id="logout-button" type="submit" name="Logout" class="btn btn-primary auth-button">Log out</button>
            </div>
        </form>
    {% else %}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div id="login-button-container-small" class="button-container-small">
                <button id="login-button-small" type="submit" name="Login" class="btn btn-primary auth-small">Log in</button>
            </div>
        </form>
        <form action="{% url 'signup' %}" method="post">
            {% csrf_token %}
            <div id="signup-button-container-small" class="button-container-small">
                <button id="signup-button-small" type="submit" name="Signup" class="btn btn-primary auth-small">Sign up</button>
            </div>
        </form>
    {% endif %}

{% endblock %}