{% extends "portfolio/layout.html" %}

{% block title %}
    CryptoChief Home
{% endblock %}

{% block javascript %}
    {% load static %}
    <script type="text/javascript" src="{% static 'portfolio/index.js' %}"></script>
{% endblock %}

{% block body %}
    <body id="home-background">
        <h2 id="project-name" class="home-page-text">CryptoChief</h2>

        {% if user %}
            <form id="logout-form-button" action="{% url 'logout' %}">
                <button id="logout-button-home" type="submit" name="Logout" class="btn auth-button">Log out</button>
            </form>
        {% else %}
            <form id="login-form-button" action="{% url 'login' %}">
                <button id="login-button-home" type="submit" name="Login" class="btn auth-small">Log in</button>
            </form>
            <form id="signup-form-button" action="{% url 'signup' %}">
                <button id="signup-button-home" type="submit" name="Signup" class="btn auth-small">Sign up</button>
            </form>
        {% endif %}

        <h1 id="home-intro" class="home-page-text">Manage Your Crypto Assets</h1>

        <form id="portfolio-form-button" action="{% url 'portfolio' %}">
            {% csrf_token %}
                <button id="portfolio-button" type="submit" name="Portfolio" class="btn">My Portfolio</button>
        </form>

        <div class="container">
            <div class="row home-feed">
                <div class="col-md">
                    <ul class="home-price asset-title"><div class="asset-title">Bitcoin</div>
                        <li id="btc-price" class="home-data">${{btc.PRICE}}</li>
                        <li id="btc-change-24h-pct">{{btc.CHANGEPCT24HOUR}}%</li>
                        <li id="btc-change-24h-usd">{{btc.CHANGE24HOUR}}</li>
                        <li class="home-data">Market Cap</li>
                        <li id="btc-mktcap">${{btc.MKTCAP}}</li>
                    </ul>
                </div>
                <div class="col-md">
                    <ul class="home-price"><div class="asset-title">Ethereum</div>
                        <li id="eth-price" class="home-data">${{eth.PRICE}}</li>
                        <li id="eth-change-24h-pct">{{eth.CHANGEPCT24HOUR}}%</li>
                        <li id="eth-change-24h-usd">{{eth.CHANGE24HOUR}}</li>
                        <li class="home-data">Market Cap</li>
                        <li id="eth-mktcap">${{eth.MKTCAP}}</li>
                    </ul>
                </div>
                <div class="col-md">
                    <ul class="home-price asset-title"><div class="asset-title">Stellar</div>
                        <li id="xlm-price" class="home-data">${{xlm.PRICE}}</li>
                        <li id="xlm-change-24h-pct">{{xlm.CHANGEPCT24HOUR}}%</li>
                        <li id="xlm-change-24h-usd">{{xlm.CHANGE24HOUR}}</li>
                        <li class="home-data">Market Cap</li>
                        <li id="xlm-mktcap">${{xlm.MKTCAP}}</li>
                    </ul>
                </div>
                <div class="col-md">
                    <ul class="home-price asset-title"><div class="asset-title">Zcash</div>
                        <li id="zec-price" class="home-data">${{zec.PRICE}}</li>
                        <li id="zec-change-24h-pct">{{zec.CHANGEPCT24HOUR}}%</li>
                        <li id="zec-change-24h-usd">{{zec.CHANGE24HOUR}}</li>
                        <li class="home-data">Market Cap</li>
                        <li id="zec-mktcap">${{zec.MKTCAP}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>

{% endblock %}