{% extends "portfolio/layout.html" %}

{% block title %}
    CryptoChief Portfolio
{% endblock %}

{% block javascript %}
    {% load static %}
    <script id="load-position" type="text/template">
        <tr>
          <th></th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
    </script>
{% endblock %}

{% block body %}
    <h1>Your Crypto Assets</h1>
    <div class="portfolio-container">
        <table id="portfolio-view" class="table">
            <thead id="portfolio-header">
                <tr>
                    <th>Asset</th>
                    <th>Price (USD)</th>
                    <th>Quantity</th>
                    <th>Value (USD)</th>
                    <th>24h Percent Change (USD)</th>
                    <th>24h Value Change (USD)</th>
                    <th>Position Percent Change (USD)</th>
                </tr>
            </thead>
            <tbody id="portfolio-body">
                {% for position, data in portfolio.items %}
                    <tr>
                        <th>{{data.name}} ({{data.code}})</th>
                        <td>${{data.usd_price}}</td>
                        <td>{{data.quantity}}</td>
                        <td>${{data.usd_value}}</td>
                        <td>{{data.change_pct_24h_usd}}%</td>
                        <td>{{data.change_value_24h_usd}}</td>
                        <td>{{data.change_pct_since_purchase_usd}}%</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}