{% extends "portfolio/layout.html" %}

{% block title %}
    CryptoChief Portfolio
{% endblock %}

{% block javascript %}
    {% load static %}
    <script id="load-position" type="text/template">
        {% verbatim %}
        <tr id="table-row-select" class="table-row-body">
            <td class="hidden">{{position.id}}</td>
            <td class="hide-on-small-screen">{{position.name}} ({{position.code}})</td>
            <td class="hide-on-big-screen">{{position.code}}</td>
            <td>${{position.usd_price}}</td>
            <td class="hide-on-small-screen">{{position.quantity}}</td>
            <td id="data-usd-value">${{position.usd_value}}</td>
            <td id="data-change-pct-24h-usd">{{position.change_pct_24h_usd}}%</td>
            <td class="hide-on-small-screen" id="data-change-value-24h-usd">{{position.change_value_24h_usd}}</td>
            <td class="hide-on-small-screen" id="data-percent-return-usd">{{position.change_pct_since_purchase_usd}}%</td>
        </tr>
        {% endverbatim %}
    </script>
    <script type="text/javascript" src="{% static 'portfolio/portfolio.js' %}"></script>
    <!-- Pie Chart
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dimple/2.3.0/dimple.latest.min.js"></script>
    -->
{% endblock %}

{% block body %}
    <body id="portfolio-background">
        <form id="home-form" action="{% url 'index' %}">
            <button id="home-button" type="submit" name="Home" class="btn auth-button">Home</button>
        </form>
        <form id="logout-form" action="{% url 'logout' %}">
            <button id="logout-button" type="submit" name="Logout" class="btn auth-button">Log out</button>
        </form>
        <div class="container">
            <div class="row summary-feed">
                <div class="col-lg-4"><h2 id="user-heading">{{user.username}}</h2></div>
                {% if overall %}
                    <div id="current_portfolio_value_usd" class="col-lg-4 summary-metric">${{overall.current_portfolio_value_usd}}</div>
                    <div id="return_overall_percent_usd" class="col-lg-4 summary-metric">{{overall.return_overall_percent_usd}}</div>
                {% else %}
                    <div id="current_portfolio_value_usd" class="col-lg-4 summary-metric"></div>
                    <div id="return_overall_percent_usd" class="col-lg-4 summary-metric"></div>
                {% endif %}
            </div>
        </div>
        <div class="modal fade" id="add-position-modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title add-position-label" id="exampleModalLabel">Add a Position to your Portfolio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="field-label add-position-label">3 Letter Crypto Code</label>
                        <input type="text" id="code" name="crypto_code" class="form-control add-position-placeholder" placeholder="Enter Crypto Code (i.e. BTC for Bitcoin)">
                    </div>
                    <div class="form-group">
                        <label class="field-label add-position-label">Price Purchased (USD)</label>
                        <input type="text" id="price_purchased_usd" name="crypto_price_purchased_usd" class="form-control add-position-placeholder" placeholder="Enter Price Purchased in USD">
                    </div>
                    <div class="form-group">
                        <label class="field-label add-position-label">Quantity</label>
                        <input type="text" id="quantity" name="crypto_quantity" class="form-control add-position-placeholder" placeholder="Enter Quantity">
                    </div>
                    <div class="form-group">
                        <label class="field-label add-position-label">Date Purchased</label>
                        <input type="date" id="date_purchased" name="crypto_date_purchased" class="form-control add-position-placeholder" placeholder="Enter Date">
                    </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" id="close-position-button" class="btn" data-dismiss="modal">Close</button>
                <button type="submit" id="send-position-button" data-dismiss="modal" class="btn" name="add-new-position">Add</button>
              </div>
            </div>
          </div>
        </div>

        <table id="portfolio-view" class="table border-table">
            <thead id="portfolio-header" class="my-thead">
                <tr>
                    <th>Asset</th>
                    <th>Price (USD)</th>
                    <th class="hide-on-small-screen">Quantity</th>
                    <th>Value (USD)</th>
                    <th>24h Percent Change (USD)</th>
                    <th class="hide-on-small-screen">24h Value Change (USD)</th>
                    <th class="hide-on-small-screen">Percent Return (USD)</th>
                </tr>
            </thead>
            <tbody id="portfolio-body">
                {% for position, data in portfolio.items %}
                    <tr id="table-row-select" class="table-row-body">
                        <td class="hidden">{{data.id}}</td>
                        <td class="hide-on-small-screen">{{data.name}} ({{data.code}})</td>
                        <td class="hide-on-big-screen">{{data.code}}</td>
                        <td>${{data.usd_price}}</td>
                        <td class="hide-on-small-screen">{{data.quantity}}</td>
                        <td id="data-usd-value">${{data.usd_value}}</td>
                        <td id="data-change-pct-24h-usd">{{data.change_pct_24h_usd}}%</td>
                        <td class="hide-on-small-screen" id="data-change-value-24h-usd">{{data.change_value_24h_usd}}</td>
                        <td class="hide-on-small-screen" id="data-percent-return-usd">{{data.change_pct_since_purchase_usd}}%</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <button id="add-position-button" type="button" data-toggle="modal" data-target="#add-position-modal" name="add-position" class="btn">
            Add Position
        </button>
        <button id="remove-position-button" type="button" name="remove-position" class="btn">
            Remove Selected Positions
        </button>

    </body>

{% endblock %}