$my-green: #09c416;
$my-light-green: #b5ffb7;
$dark-background: #110028;
$font-stack: 'Josefin Sans', sans-serif;

%my-button {
    background-color: $dark-background;
    color: $my-green;
    height: 40px;
    font-family: $font-stack;
}

#add-position-button {
    @extend %my-button;
    width: 100%;
    font-weight: bold;
}
#add-position-button:hover {
    background-color: $my-green;
    color: $dark-background;
}

.summary-feed {
    text-align: center;
}

#logout-form {
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
}

#logout-button {
    @extend %my-button;
    width: 200px;
    font-weight: bold;
}

#logout-button:hover {
    background-color: $my-green;
    color: $dark-background;
}

#user-heading {
    color: white;
    font-family: $font-stack;
    font-size: 350%;
    font-weight: bold;
}

.summary-metric {
    color: $my-green;
    font-family: $font-stack;
    font-size: 350%;
    font-weight: bold;
}

#portfolio-background {
    background-color: $dark-background;
}

.my-thead {
    background-color: $dark-background;
    color: white;
    font-family: $font-stack;
    font-size: 140%;
}

.table-row-body {
    background-color: $dark-background;
    color: $my-green;
    font-family: $font-stack;
    font-size: 130%;
}

.table-row-body:hover {
    background-color: $my-green;
    color: $my-light-green;
}

h1 {
    color: purple;
}

.auth-form {
    width: 75%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.home-feed {
    text-align: center;
    margin-top: 10%;
    .home-price {
        list-style-type: none;
        .home-data {
            margin-top: 10px;
        }
    }
}

#home-intro {
    margin-top: 5%;
    text-align: center;
}

#project-name {
    margin-top: 15px;
    margin-left: 15px;
}

.invalid {
    color: red;
}


.border-table td {
    border-color: white;
}
.border-table th {
    border: none;
}

#portfolio-view {
    width: 100%;
    margin-top: 5%;
    #portfolio-header {
        text-align: center;
    }
    tbody, thead {
        display: block;
    }
    tbody {
        height: 370px;
        width: 100%;
    }
    tbody::-webkit-scrollbar {
        width: 10px;
        background-color: $my-light-green;
    }
    tbody::-webkit-scrollbar-thumb {
        background: $my-green;
    }
    tbody td, thead th {
        text-align: center;
        width: 14%;
    }

}



