h1 {
    color: purple;
}

.auth-form {
    width: 75%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.home-feed {
    text-align: center;
    margin-top: 10%;
    .home-price {
        list-style-type: none;
        .home-data {
            margin-top: 10px;
        }
    }
}

#home-intro {
    margin-top: 5%;
    text-align: center;
}

#project-name {
    margin-top: 15px;
    margin-left: 15px;
}

.invalid {
    color: red;
}

.portfolio-container {
    /*margin-left: 25px;
    margin-right: 25px;*/
    #portfolio-view {
        margin-top: 25%;
        #portfolio-header {
            text-align: center;
        }
    }
}

td {
    text-align: center;
}


