#home-intro {
  text-align: center;
  margin-top: 5%; }

#add-position-button, #logout-button, #home-button, #login-button, #signup-button, #login-form-button #login-button-home, #logout-form-button #logout-button-home, #signup-form-button #signup-button-home, #portfolio-button {
  background-color: #110028;
  color: #09c416;
  height: 40px;
  font-family: "Josefin Sans", sans-serif; }

#add-position-button {
  width: 100%;
  font-weight: bold; }

#add-position-button:hover {
  background-color: #09c416;
  color: #110028; }

#remove-position-button {
  background-color: #110028;
  color: #ff2848;
  height: 40px;
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  font-weight: bold; }

#remove-position-button:hover {
  background-color: #ff2848;
  color: #110028; }

.summary-feed {
  margin-top: 2%;
  text-align: center; }

#logout-form {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px; }

#home-form {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block; }

#logout-button, #home-button {
  width: 200px;
  font-weight: bold; }

#close-position-button {
  background-color: white;
  color: #ff2848;
  height: 40px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold; }

#close-position-button:hover {
  background-color: #ff2848;
  color: white; }

#send-position-button {
  background-color: white;
  color: #09c416;
  height: 40px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold; }

#send-position-button:hover {
  background-color: #09c416;
  color: white; }

@media (max-width: 481px) {
  #logout-button, #home-button {
    width: 150px; }

  .hide-on-small-screen {
    display: none; } }
@media (min-width: 482px) {
  .hide-on-big-screen {
    display: none; } }
#login-button, #signup-button {
  width: 100%;
  font-weight: bold;
  font-size: 130%;
  height: 40px; }

#login-button:hover, #signup-button:hover {
  background-color: #09c416;
  color: #110028; }

#logout-button:hover, #home-button:hover {
  background-color: #09c416;
  color: #110028; }

#user-heading, .summary-metric, .auth-heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 350%;
  font-weight: bold; }

#new-user {
  color: #09c416;
  font-size: 110%;
  font-family: "Josefin Sans", sans-serif; }

#user-heading {
  color: white; }

.summary-metric {
  color: #09c416; }

.auth-heading {
  color: white;
  text-align: center;
  margin-top: 14%; }

#portfolio-background {
  background-color: #110028; }

.my-thead {
  background-color: #110028;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 140%; }

.table-row-body {
  background-color: #110028;
  color: #09c416;
  font-family: "Josefin Sans", sans-serif;
  font-size: 130%; }

.table-row-body:hover {
  background-color: #09c416;
  color: #b5ffb7; }

h1 {
  color: purple; }

.auth-form {
  width: 70%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto; }
  .auth-form .auth-label {
    font-family: "Josefin Sans", sans-serif;
    font-size: 130%;
    color: #09c416; }

.add-position-label {
  font-family: "Josefin Sans", sans-serif;
  font-size: 130%;
  color: #110028; }

.add-position-placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-size: 100%;
  color: #110028; }

.home-feed {
  text-align: center;
  margin-top: 8%; }
  .home-feed .asset-title {
    color: white;
    font-weight: bold;
    font-size: 160%; }
  .home-feed .home-price {
    list-style-type: none;
    color: #09c416;
    font-family: "Josefin Sans", sans-serif;
    font-size: 140%; }
    .home-feed .home-price .home-data-title {
      margin-top: 10px; }
    .home-feed .home-price .home-data-data {
      margin-top: 10px; }

.home-page-text {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 350%;
  font-weight: bold; }

#project-name {
  margin-top: 25px;
  margin-left: 25px;
  display: inline-block; }

#login-form-button {
  display: inline-block;
  float: right;
  margin-top: 25px;
  margin-right: 25px; }
  #login-form-button #login-button-home {
    font-weight: bold;
    font-size: 120%; }
  #login-form-button #login-button-home:hover {
    background-color: #09c416;
    color: #110028; }

#logout-form-button {
  display: inline-block;
  float: right;
  margin-top: 25px;
  margin-right: 25px; }
  #logout-form-button #logout-button-home {
    font-weight: bold;
    font-size: 120%; }
  #logout-form-button #logout-button-home:hover {
    background-color: #09c416;
    color: #110028; }

#signup-form-button {
  display: inline-block;
  float: right;
  margin-top: 25px;
  margin-right: 25px; }
  #signup-form-button #signup-button-home {
    font-weight: bold;
    font-size: 120%; }
  #signup-form-button #signup-button-home:hover {
    background-color: #09c416;
    color: #110028; }

#home-background, .auth-background {
  background-color: #110028; }

.invalid {
  color: #ff2848;
  font-family: "Josefin Sans", sans-serif; }

.border-table td {
  border-color: white; }

.border-table th {
  border: none; }

#portfolio-view {
  width: 100%; }
  #portfolio-view #portfolio-header {
    text-align: center; }
  #portfolio-view tbody, #portfolio-view thead {
    display: block; }
  #portfolio-view tbody {
    height: 370px;
    text-align: center;
    width: 100%; }
  #portfolio-view tbody::-webkit-scrollbar {
    width: 10px;
    background-color: #b5ffb7; }
  #portfolio-view tbody::-webkit-scrollbar-thumb {
    background: #09c416; }
  #portfolio-view thead th, #portfolio-view tbody td {
    width: 15.8%;
    text-align: left; }

#portfolio-form-button {
  text-align: center; }

#portfolio-button {
  width: 55%;
  font-weight: bold;
  font-size: 150%;
  height: 45px; }

#portfolio-button:hover {
  background-color: #09c416;
  color: #110028; }

.hidden {
  display: none; }

/*# sourceMappingURL=styles.css.map */
