#add-position-button, #logout-button, #login-form-button #login-button-home, #logout-form-button #logout-button-home, #signup-form-button #signup-button-home, #portfolio-button {
  background-color: #110028;
  color: #09c416;
  height: 40px;
  font-family: "Josefin Sans", sans-serif; }

#add-position-button {
  width: 100%;
  font-weight: bold; }

#add-position-button:hover {
  background-color: #09c416;
  color: #110028; }

.summary-feed {
  text-align: center; }

#logout-form {
  text-align: right;
  margin-top: 10px;
  margin-right: 10px; }

#logout-button {
  width: 200px;
  font-weight: bold; }

#logout-button:hover {
  background-color: #09c416;
  color: #110028; }

#user-heading {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 350%;
  font-weight: bold; }

.summary-metric {
  color: #09c416;
  font-family: "Josefin Sans", sans-serif;
  font-size: 350%;
  font-weight: bold; }

#portfolio-background {
  background-color: #110028; }

.my-thead {
  background-color: #110028;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 140%; }

.table-row-body {
  background-color: #110028;
  color: #09c416;
  font-family: "Josefin Sans", sans-serif;
  font-size: 130%; }

.table-row-body:hover {
  background-color: #09c416;
  color: #b5ffb7; }

h1 {
  color: purple; }

.auth-form {
  width: 75%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto; }

.home-feed {
  text-align: center;
  margin-top: 8%; }
  .home-feed .asset-title {
    color: white;
    font-weight: bold;
    font-size: 160%; }
  .home-feed .home-price {
    list-style-type: none;
    color: #09c416;
    font-family: "Josefin Sans", sans-serif;
    font-size: 140%; }
    .home-feed .home-price .home-data {
      margin-top: 10px; }

#home-intro {
  text-align: center;
  margin-top: 5%; }

.home-page-text {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 350%;
  font-weight: bold; }

#project-name {
  margin-top: 25px;
  margin-left: 25px;
  display: inline-block; }

#login-form-button {
  display: inline-block;
  float: right;
  margin-top: 25px;
  margin-right: 25px; }
  #login-form-button #login-button-home {
    font-weight: bold;
    font-size: 120%; }
  #login-form-button #login-button-home:hover {
    background-color: #09c416;
    color: #110028; }

#logout-form-button {
  display: inline-block;
  float: right;
  margin-top: 25px;
  margin-right: 25px; }
  #logout-form-button #logout-button-home {
    font-weight: bold;
    font-size: 120%; }
  #logout-form-button #logout-button-home:hover {
    background-color: #09c416;
    color: #110028; }

#signup-form-button {
  display: inline-block;
  float: right;
  margin-top: 25px;
  margin-right: 25px; }
  #signup-form-button #signup-button-home {
    font-weight: bold;
    font-size: 120%; }
  #signup-form-button #signup-button-home:hover {
    background-color: #09c416;
    color: #110028; }

#home-background {
  background-color: #110028; }

.invalid {
  color: red; }

.border-table td {
  border-color: white; }

.border-table th {
  border: none; }

#portfolio-view {
  width: 100%;
  margin-top: 5%; }
  #portfolio-view #portfolio-header {
    text-align: center; }
  #portfolio-view tbody, #portfolio-view thead {
    display: block; }
  #portfolio-view tbody {
    height: 370px;
    text-align: center;
    width: 100%; }
  #portfolio-view tbody::-webkit-scrollbar {
    width: 10px;
    background-color: #b5ffb7; }
  #portfolio-view tbody::-webkit-scrollbar-thumb {
    background: #09c416; }
  #portfolio-view thead th, #portfolio-view tbody td {
    width: 15.8%;
    text-align: left; }

#portfolio-form-button {
  text-align: center; }

#portfolio-button {
  width: 55%;
  font-weight: bold;
  font-size: 150%;
  height: 45px; }

#portfolio-button:hover {
  background-color: #09c416;
  color: #110028; }

/*# sourceMappingURL=styles.css.map */
